fastapi
uvicorn
python-multipart
pyjwt
pydantic
pydantic-settings
email-validator
supabase
python-dotenv
requests
google-genai
google-generativeai
groq
qdrant-client
rank_bm25
tqdm
pymupdf
pdfplumber
